# Arquivos e pastas gerados pelo Node.js/pnpm
/node_modules
/dist
/pnpm-lock.yaml
/package-lock.json
/yarn.lock

# Arquivos e pastas gerados pelo Python
/backend/__pycache__
/backend/.venv
/backend/venv
/backend/dist
/backend/.pytest_cache
/backend/*.pyc
/backend/*.egg-info/

# Arquivos de ambiente e segredos (NUNCA devem ir para o GitHub)
.env
.env.*
.DS_Store
/client/public/js/main.js.map

# Arquivos de configuração de IDEs e editores
.vscode
.idea
*.sublime-project
*.sublime-workspace

# Arquivos temporários e de log
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/client/public/js/main.js.map
